<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/maincss.css">
    <link rel="stylesheet" href="/stylesheets/media.css">
    <link rel="stylesheet" href="/stylesheets/hover.css">
    <link rel="stylesheet" href="/stylesheets/buttom.css">
    <link rel="shortcut icon" href="logo2.jpg" type="image/x-icon">
    <title>Thecoder</title>
</head>

<body>
    <!-- here i start card function -->
    <section class="card-body" id="codes">

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 1</p>
                <a href="">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 2</p>
                <a href="">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 3</p>
                <a href="/">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 4</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>


        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 5</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 6</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 7</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 8</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 9</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 10</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 11</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 12</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 13</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 14</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 15</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 16</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 17</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 18</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 19</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 20</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 21</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 22</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 23</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>


        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 24</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>        
        
        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 25</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 26</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 27</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 28</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 29</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 30</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 31</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 32</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 33</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 34</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 35</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 36</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 37</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 38</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">Day 39</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>



    </section>

</body>

</html>