<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/contac.css">
    <link rel="stylesheet" href="/stylesheets/display.css">
    <title>Document</title>
</head>

<body>
    <div class="main background">
        <div class="box card">
            <h2>Mob :-8757887103</h2>
            <h2>Email iD :- sachin875788@gmail.com</h2>
        </div>
    </div>
</body>

</html>