<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/maincss.css">
    <link rel="stylesheet" href="/stylesheets/media.css">
    <link rel="stylesheet" href="/stylesheets/hover.css">
    <link rel="stylesheet" href="/stylesheets/buttom.css">
    <link rel="shortcut icon" href="logo2.jpg" type="image/x-icon">
    <title>Thecoder</title>
</head>

<body>
    <!-- here i start card function -->
    <section class="card-body" id="codes">

        <div class="card">
            <div class="image">
                <img src="/images/html.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">HTML</h2>
                <a href="/html">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>



        <div class="card">
            <div class="image">
                <img src="/images/css.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">CSS</h2>
                <a href="/css">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/javascript.png" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">JAVASCRIPT</h2>
                <a href="/javascript">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/node.jpg"
                    alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Node Js</h2>
                <a href="/node">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>


        <div class="card">
            <div class="image">
                <img src="/images/express.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Express Js</h2>
                <a href="/express">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/mongo.png" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Mongo DB</h2>
                <a href="/mongo">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/sql.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">SQL</h2>
            
                <a href="/sql">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/react.png" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">React Js</h2>
                <a href="/react">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>
    </section>

</body>

</html>