<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thecoder</title>
    <link rel="stylesheet" href="/stylesheets/maincss.css">
    <link rel="stylesheet" href="/stylesheets/media.css">
    <link rel="stylesheet" href="/stylesheets/hover.css">
    <link rel="stylesheet" href="/stylesheets/buttom.css">
    <link rel="shortcut icon" href="logo2.jpg" type="image/x-icon">
    
</head>
<body>
    <nav class="navbar background h-nav">

        <ul class="nav-list v-class">
        <div class="logo"><img src="/images/logo.png" alt="logo"> </div>
        <li><a href="/">Home</a></li>
        <li><a href="/code">Codes</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
        
        </ul>

        <div class="rightnav v-class">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">search</button>
        </div>

        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
<section>
    <div class="background fristSection">
    <div class="box-main">
        <div class="firstHalf">
           <h1 class="text-big">Learn About <span class="auto-input"></span></h1>
           <p  class="text-small">The Ultimate Guide To Ace
            SDE Interviews.</p>
            
           <div class="box-centernar">
            <a href="/project">
            <button class="btn1">Course</button>
        </a>
            <a href="/resume">
           <button class="btn2">Paid Course</button>
        </a>
        </div>
        </div>
        
        <div class="secondHalf">
            <img src="/images/moj.png" alt="">
        </div>
    </div>
</div>
</section>

<!-- here i start why function -->
<div class="why">
    <h2 class="thecoder">
        Why thecoder ?
    </h2>
    <p class="paragraph">
        Making learning easier and more convenient for you.
    </p>
</div>

<!-- footer -->
<footer class=" foter background">
    <p class="text-footer">
        copyright &copy; 2023 www.thecoder.my-style.in- All rights reserved
    </p>
</footer>
<script src="/javascripts/mainjs.js"></script>
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
    var typed=new Typed(".auto-input",{
        strings:["DSA","JAVA","C++","PYTHON"," C "],
        typedSpeed:80000,
        backSpeed:100,
        loop:true
    })
</script>
</body>
</html>