<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/maincss.css">
    <link rel="stylesheet" href="/stylesheets/media.css">
    <link rel="stylesheet" href="/stylesheets/hover.css">
    <link rel="stylesheet" href="/stylesheets/buttom.css">
    <link rel="shortcut icon" href="logo2.jpg" type="image/x-icon">
    <title>Thecoder</title>
</head>

<body>
    <!-- here i start card function -->
    <section class="card-body" id="codes">

        <div class="card">
            <div class="image">
                <img src="/images/alfa.jpg" alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Java+DSA</h2>
                <p class="para-text">All lecture are ablable</p>
                <a href="/alfa">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="/images/delta.jpg"
                    alt="c with dsa">
            </div>
            <div class="text">
                <h2 class="heder">Full Stack </h2>
                <p class="para-text">HTML + CSS + JAVASCRIPT + NODE JS + EXPRESS JS + Mongo DB + SQL + REACT JS</p>
                <a href="/delta">
                    <button class="card-buttom">Play Now</button>
                </a>
            </div>
        </div>
    </section>

</body>

</html>